<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tenderlitch.mapper.upc.UpcRoleMapper" >
  <resultMap id="BaseResultMap" type="com.tenderlitch.entity.upc.UpcRole" >
    <id column="SID" property="sid" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="INTEGER" />
    <collection property="urls" column="SID" ofType="com.tenderlitch.entity.upc.UpcPage" select="com.tenderlitch.mapper.upc.UpcUrlMapper.findUrlByRoleSid"></collection>
  </resultMap>
  <sql id="Base_Column_List" >
    SID, NAME, DESCRIPTION, VERSION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from upc_role
    where SID = #{sid,jdbcType=INTEGER}
  </select>
  <select id="find" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select 
  	 <include refid="Base_Column_List" />
  	from upc_role
  	<trim prefix="where" prefixOverrides="and">
  		<if test="singleQuery != null and singleQuery != ''">
    		and NAME like '%${singleQuery}%'
    	</if>
  		<if test="sid !=null and sid != ''">
  			and SID=#{sid,jdbcType=VARCHAR}
  		</if>
  		<if test="name !=null and name != ''">
  			and NAME=#{name,jdbcType=VARCHAR}
  		</if>
  	</trim>
  	<trim prefix="ORDER BY">
    	<if test="orderBy != null and orderBy != ''">
    		${orderBy}
    	</if>
    	<if test="orderBy != null and orderBy != ''  and orderDirection != null and orderDirection != ''">
    		${orderDirection}
    	</if>
    </trim>
  </select>  
  <delete id="delete" parameterType="com.tenderlitch.entity.upc.UpcRole" >
    delete from upc_role
    where SID = #{sid,jdbcType=INTEGER} and VERSION=#{version,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tenderlitch.entity.upc.UpcRole" useGeneratedKeys="true" keyProperty="sid">
    insert into upc_role (NAME, DESCRIPTION)
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tenderlitch.entity.upc.UpcRole" >
    insert into upc_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        SID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.tenderlitch.entity.upc.UpcRole" >
    update upc_role set version=version+1
    <trim prefix="," suffixOverrides=",">
	     <if test="name != null" >
	       NAME = #{name,jdbcType=VARCHAR},
	     </if>
	     <if test="description != null" >
	       DESCRIPTION = #{description,jdbcType=VARCHAR},
	     </if>
	     <if test="version != null" >
	       VERSION = #{version,jdbcType=INTEGER},
	     </if>
    </trim>
    where SID = #{sid,jdbcType=INTEGER} and VERSION=#{version,jdbcType=INTEGER}
  </update>
  
  <!-- 插入role_r2_page表信息 -->
  <insert id="insertRoleR2Page"  parameterType="com.tenderlitch.entity.upc.UpcRole">
  	insert into upc_role_r2_url (role_sid,url_sid) values
  	<foreach collection="urlSids" item="urlSid" separator=",">
  		(#{sid,jdbcType=DECIMAL},#{urlSid,jdbcType=DECIMAL})
  	</foreach>
  </insert>
  
  <!-- 删除主键值为传入参数的角色对应的页面权限 -->
  <delete id="deleteRoleR2Page" parameterType="int">
  	delete from upc_role_r2_url where role_sid=${value}
  </delete>
</mapper>