<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.tenderlitch.mapper.demo.UserDemoMapper">
	<select id="find" parameterType="java.util.Map"
		resultType="com.tenderlitch.entity.demo.UserDemo">
		SELECT SID,
			NAME,
			PIN,
			PASSWORD,
			GENDER,
			PHONE1,
			PHONE2,
			TEL,
			EMAIL,
			STATE,
			CREATED_BY,
			CREATED_DT,
			VERSION,
			UPDATED_BY,
			UPDATED_DT,
			USER_POST  FROM MES_USER_DEMO
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
        <if test="sid != null">  
            SID=#{sid}   
        </if>  
        <if test="sids != null">  
           AND   SID in ($sids$)  
        </if>  
        <if test="pin != null">  
			AND PIN = #{pin} 
        </if>   
        <if test="name != null">  
			AND NAME = #{name} 
        </if> 
		<if test="likeName != null">  
			AND (NAME like '%$likeName$%')
		</if>   
        <if test="email != null">  
			AND EMAIL = #{email} 
        </if>    
        <if test="password != null">  
			AND PASSWORD = #{password} 
        </if>    
        <if test="state != null">  
			AND STATE = #{state} 
        </if> 
          
        <if test="createdDtStart != null">  
			AND CREATED_DT > #{createdDtStart}  
        </if>  
        <if test="userPost != null">  
			AND USER_POST > #{userPost}  
        </if>  
        <if test="filter != null">  
			AND ( $filter$ )
        </if> 
    </trim>
	    ORDER BY 
		<if test="order != null">  
				$order$ 
        </if>
		<if test="order == null">  
				SID DESC
        </if>
	</select>

	<insert id="insert" parameterType="com.tenderlitch.entity.demo.UserDemo">
		<selectKey keyProperty="sid" resultType="long" order="BEFORE">
			SELECT MES_SEQ_USER.nextval FROM DUAL
		</selectKey>
		insert into MES_USER_DEMO
		  (SID,
		   NAME,
		   PIN,
		   PASSWORD,
		   GENDER,
		   STATE,
		   PHONE1,
		   PHONE2,
		   EMAIL,
		   TEL,
		   USER_POST,
		   CREATED_BY,
		   CREATED_DT,
		   version)
		values
		  (#{sid},
		   #{name},
		   #{pin},
		   #{password},
		   #{gender},
		   #{state},
		   #{phone1},
		   #{phone2},
		   #{email},
		   #{tel},
		   #{userPost},
		   #{createdBy,jdbcType=TIMESTAMP},
		   sysdate,1)

	</insert>

	<update id="update" parameterType="com.tenderlitch.entity.demo.UserDemo">
		update MES_USER_DEMO SET VERSION=VERSION+1   
	      <if test="name != null">,NAME=#{name}</if>
	      <if test="pin != null">,PIN=#{pin}</if>
	      <if test="password != null">,PASSWORD=#{password}</if>
	      <if test="gender != null">,GENDER=#{gender}</if>
	      <if test="updatedBy != null">,UPDATED_BY=#{updatedBy}</if>
	      <if test="updatedDt != null">,UPDATED_DT=#{updatedDt}</if>
	      <if test="state != null">,STATE=#{state}</if>
	      <if test="phone1 != null">,PHONE1=#{phone1}</if>
	      <if test="phone2 != null">,PHONE2=#{phone2}</if>
	      <if test="email != null">,EMAIL=#{email}</if>
	      <if test="tel != null">,TEL=#{tel}</if>
	      <if test="userPost != null">,USER_POST=#{userPost}</if>
		where SID = #{sid} and VERSION = #{version}
	</update>

	<delete id="delete" parameterType="com.tenderlitch.entity.demo.UserDemo">
		DELETE FROM MES_USER_DEMO WHERE SID=#{sid}
	</delete>
</mapper>