<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- spring integration mybatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
		depends-on="dataSource">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesSuperType" value="com.tenderlitch.core.entity.AbstractEntity" />
		<property name="mapperLocations" value="classpath*:com/tenderlitch/**/mapper/*Mapper.xml" />
		<property name="configLocation" value="classpath:orm/SqlMapConfig.xml"></property>
	</bean>
	

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.tenderlitch" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="annotationClass" value="com.tenderlitch.core.repository.BaseRepository" />
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
	  <constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>	
</beans>
