<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- i18n config
		1.i18n Resourcebundles
		2.i18n Resolver
		3.i18n Interceptor
	 -->
	<!-- i18n Resourcebundles -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="defaultEncoding" value="utf-8" />
		<property name="basenames">
			<list>
				<value>i18n/messages</value>
				<value>i18n/core-errors</value>
				<value>globalMessages</value>
				<value>i18n/i18n</value>
				<value>i18n/errors</value>
			</list>
		</property>
		<property name="useCodeAsDefaultMessage" value="true" />
	</bean>
</beans>
