<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tenderlitch.mapper.su.UserMapper" >
  <resultMap id="BaseResultMap" type="com.tenderlitch.entity.su.User" >
    <id column="SID" property="sid" jdbcType="DECIMAL" />
    <result column="PIN" property="pin" jdbcType="VARCHAR" />
    <result column="USER_NAME_CN" property="userNameCn" jdbcType="VARCHAR" />
    <result column="USER_NAME_EN" property="userNameEn" jdbcType="VARCHAR" />
    <result column="USER_NAME_VN" property="userNameVn" jdbcType="VARCHAR" />
    <result column="USER_STATE" property="userState" jdbcType="DECIMAL" />
    <result column="COUNTRY" property="country" jdbcType="DECIMAL" />
    <result column="SEX" property="sex" jdbcType="DECIMAL" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="EXT_TEL" property="extTel" jdbcType="VARCHAR" />
    <result column="PHONE1" property="phone1" jdbcType="VARCHAR" />
    <result column="PHONE2" property="phone2" jdbcType="VARCHAR" />
    <result column="GROUP_ID" property="groupId" jdbcType="DECIMAL" />
    <result column="SHIFT_ID" property="shiftId" jdbcType="DECIMAL" />
    <result column="PWD_MODIFY_DATE" property="pwdModifyDate" jdbcType="TIMESTAMP" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_TIMESTAMP" property="createdTimestamp" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_TIMESTAMP" property="updatedTimestamp" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="SHORT_NAME" property="shortName" jdbcType="VARCHAR" />
    <result column="BRANCH_COMPANY_ID" property="branchCompanyId" jdbcType="VARCHAR" />
    <result column="WORKSHOP_ID" property="workshopId" jdbcType="VARCHAR" />
    <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" />
    <result column="STAFF_SID" property="staffSid" jdbcType="DECIMAL" />
    <result column="ORG_SID" property="orgSid" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    SID, PIN, USER_NAME_CN, USER_NAME_EN, USER_NAME_VN, USER_STATE, COUNTRY, SEX, PASSWORD, 
    EMAIL, EXT_TEL, PHONE1, PHONE2, GROUP_ID, SHIFT_ID, PWD_MODIFY_DATE, CREATED_BY, 
    CREATED_TIMESTAMP, UPDATED_BY, UPDATED_TIMESTAMP, VERSION, SHORT_NAME, BRANCH_COMPANY_ID, 
    WORKSHOP_ID, DEPT_CODE, STAFF_SID, ORG_SID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SGAI_SU_USER
    where SID = #{sid,jdbcType=DECIMAL}
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from SGAI_SU_USER
    where SID = #{sid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.tenderlitch.entity.su.User" >
    <selectKey resultType="java.lang.Long" keyProperty="sid" order="BEFORE" >
      SELECT SEQ_SU_USER.NEXTVAL FROM DUAL
    </selectKey>
    insert into SGAI_SU_USER (SID, PIN, USER_NAME_CN, 
      USER_NAME_EN, USER_NAME_VN, USER_STATE, 
      COUNTRY, SEX, PASSWORD, 
      EMAIL, EXT_TEL, PHONE1, 
      PHONE2, GROUP_ID, SHIFT_ID, 
      PWD_MODIFY_DATE, CREATED_BY, CREATED_TIMESTAMP, 
      UPDATED_BY, UPDATED_TIMESTAMP, VERSION, 
      SHORT_NAME, BRANCH_COMPANY_ID, WORKSHOP_ID, 
      DEPT_CODE, STAFF_SID, ORG_SID
      )
    values (#{sid,jdbcType=DECIMAL}, #{pin,jdbcType=VARCHAR}, #{userNameCn,jdbcType=VARCHAR}, 
      #{userNameEn,jdbcType=VARCHAR}, #{userNameVn,jdbcType=VARCHAR}, #{userState,jdbcType=DECIMAL}, 
      #{country,jdbcType=DECIMAL}, #{sex,jdbcType=DECIMAL}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{extTel,jdbcType=VARCHAR}, #{phone1,jdbcType=VARCHAR}, 
      #{phone2,jdbcType=VARCHAR}, #{groupId,jdbcType=DECIMAL}, #{shiftId,jdbcType=DECIMAL}, 
      #{pwdModifyDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{createdTimestamp,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedTimestamp,jdbcType=TIMESTAMP}, #{version,jdbcType=DECIMAL}, 
      #{shortName,jdbcType=VARCHAR}, #{branchCompanyId,jdbcType=VARCHAR}, #{workshopId,jdbcType=VARCHAR}, 
      #{deptCode,jdbcType=VARCHAR}, #{staffSid,jdbcType=DECIMAL}, #{orgSid,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tenderlitch.entity.su.User" >
    <selectKey resultType="java.lang.Long" keyProperty="sid" order="BEFORE" >
      SELECT SEQ_SU_USER.NEXTVAL FROM DUAL
    </selectKey>
    insert into SGAI_SU_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      SID,
      <if test="pin != null" >
        PIN,
      </if>
      <if test="userNameCn != null" >
        USER_NAME_CN,
      </if>
      <if test="userNameEn != null" >
        USER_NAME_EN,
      </if>
      <if test="userNameVn != null" >
        USER_NAME_VN,
      </if>
      <if test="userState != null" >
        USER_STATE,
      </if>
      <if test="country != null" >
        COUNTRY,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="extTel != null" >
        EXT_TEL,
      </if>
      <if test="phone1 != null" >
        PHONE1,
      </if>
      <if test="phone2 != null" >
        PHONE2,
      </if>
      <if test="groupId != null" >
        GROUP_ID,
      </if>
      <if test="shiftId != null" >
        SHIFT_ID,
      </if>
      <if test="pwdModifyDate != null" >
        PWD_MODIFY_DATE,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdTimestamp != null" >
        CREATED_TIMESTAMP,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedTimestamp != null" >
        UPDATED_TIMESTAMP,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="shortName != null" >
        SHORT_NAME,
      </if>
      <if test="branchCompanyId != null" >
        BRANCH_COMPANY_ID,
      </if>
      <if test="workshopId != null" >
        WORKSHOP_ID,
      </if>
      <if test="deptCode != null" >
        DEPT_CODE,
      </if>
      <if test="staffSid != null" >
        STAFF_SID,
      </if>
      <if test="orgSid != null" >
        ORG_SID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{sid,jdbcType=DECIMAL},
      <if test="pin != null" >
        #{pin,jdbcType=VARCHAR},
      </if>
      <if test="userNameCn != null" >
        #{userNameCn,jdbcType=VARCHAR},
      </if>
      <if test="userNameEn != null" >
        #{userNameEn,jdbcType=VARCHAR},
      </if>
      <if test="userNameVn != null" >
        #{userNameVn,jdbcType=VARCHAR},
      </if>
      <if test="userState != null" >
        #{userState,jdbcType=DECIMAL},
      </if>
      <if test="country != null" >
        #{country,jdbcType=DECIMAL},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=DECIMAL},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="extTel != null" >
        #{extTel,jdbcType=VARCHAR},
      </if>
      <if test="phone1 != null" >
        #{phone1,jdbcType=VARCHAR},
      </if>
      <if test="phone2 != null" >
        #{phone2,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=DECIMAL},
      </if>
      <if test="shiftId != null" >
        #{shiftId,jdbcType=DECIMAL},
      </if>
      <if test="pwdModifyDate != null" >
        #{pwdModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdTimestamp != null" >
        #{createdTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedTimestamp != null" >
        #{updatedTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="branchCompanyId != null" >
        #{branchCompanyId,jdbcType=VARCHAR},
      </if>
      <if test="workshopId != null" >
        #{workshopId,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null" >
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="staffSid != null" >
        #{staffSid,jdbcType=DECIMAL},
      </if>
      <if test="orgSid != null" >
        #{orgSid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.tenderlitch.entity.su.User" >
    update SGAI_SU_USER set VERSION=VERSION+1 
    <if test="pin != null" >
      ,PIN = #{pin,jdbcType=VARCHAR}
    </if>
    <if test="userNameCn != null" >
      ,USER_NAME_CN = #{userNameCn,jdbcType=VARCHAR}
    </if>
    <if test="userNameEn != null" >
      ,USER_NAME_EN = #{userNameEn,jdbcType=VARCHAR}
    </if>
    <if test="userNameVn != null" >
      ,USER_NAME_VN = #{userNameVn,jdbcType=VARCHAR}
    </if>
    <if test="userState != null" >
      ,USER_STATE = #{userState,jdbcType=DECIMAL}
    </if>
    <if test="country != null" >
      ,COUNTRY = #{country,jdbcType=DECIMAL}
    </if>
    <if test="sex != null" >
      ,SEX = #{sex,jdbcType=DECIMAL}
    </if>
    <if test="password != null" >
      ,PASSWORD = #{password,jdbcType=VARCHAR}
    </if>
    <if test="email != null" >
      ,EMAIL = #{email,jdbcType=VARCHAR}
    </if>
    <if test="extTel != null" >
      ,EXT_TEL = #{extTel,jdbcType=VARCHAR}
    </if>
    <if test="phone1 != null" >
      ,PHONE1 = #{phone1,jdbcType=VARCHAR}
    </if>
    <if test="phone2 != null" >
      ,PHONE2 = #{phone2,jdbcType=VARCHAR}
    </if>
    <if test="groupId != null" >
      ,GROUP_ID = #{groupId,jdbcType=DECIMAL}
    </if>
    <if test="shiftId != null" >
      ,SHIFT_ID = #{shiftId,jdbcType=DECIMAL}
    </if>
    <if test="pwdModifyDate != null" >
      ,PWD_MODIFY_DATE = #{pwdModifyDate,jdbcType=TIMESTAMP}
    </if>
    <if test="updatedBy != null" >
      ,UPDATED_BY = #{updatedBy,jdbcType=VARCHAR}
    </if>
    <if test="updatedTimestamp != null" >
      ,UPDATED_TIMESTAMP = #{updatedTimestamp,jdbcType=TIMESTAMP}
    </if>
    <if test="shortName != null" >
      ,SHORT_NAME = #{shortName,jdbcType=VARCHAR}
    </if>
    <if test="branchCompanyId != null" >
      ,BRANCH_COMPANY_ID = #{branchCompanyId,jdbcType=VARCHAR}
    </if>
    <if test="workshopId != null" >
      ,WORKSHOP_ID = #{workshopId,jdbcType=VARCHAR}
    </if>
    <if test="deptCode != null" >
      ,DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
    </if>
    <if test="staffSid != null" >
      ,STAFF_SID = #{staffSid,jdbcType=DECIMAL}
    </if>
    <if test="orgSid != null" >
      ,ORG_SID = #{orgSid,jdbcType=DECIMAL}
    </if>
    where SID = #{sid,jdbcType=DECIMAL}  and VERSION = #{version,jdbcType=DECIMAL}
  </update>
  <select id="find" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from SGAI_SU_USER
    <trim prefix="WHERE" prefixOverrides="AND|OR" >
      <if test="sid != null" >
         AND SID = #{sid,jdbcType=DECIMAL}
      </if>
      <if test="pin != null" >
         AND PIN = #{pin,jdbcType=VARCHAR}
      </if>
      <if test="userNameCn != null" >
         AND USER_NAME_CN = #{userNameCn,jdbcType=VARCHAR}
      </if>
      <if test="userNameEn != null" >
         AND USER_NAME_EN = #{userNameEn,jdbcType=VARCHAR}
      </if>
      <if test="userNameVn != null" >
         AND USER_NAME_VN = #{userNameVn,jdbcType=VARCHAR}
      </if>
      <if test="userState != null" >
         AND USER_STATE = #{userState,jdbcType=DECIMAL}
      </if>
      <if test="country != null" >
         AND COUNTRY = #{country,jdbcType=DECIMAL}
      </if>
      <if test="sex != null" >
         AND SEX = #{sex,jdbcType=DECIMAL}
      </if>
      <if test="password != null" >
         AND PASSWORD = #{password,jdbcType=VARCHAR}
      </if>
      <if test="email != null" >
         AND EMAIL = #{email,jdbcType=VARCHAR}
      </if>
      <if test="extTel != null" >
         AND EXT_TEL = #{extTel,jdbcType=VARCHAR}
      </if>
      <if test="phone1 != null" >
         AND PHONE1 = #{phone1,jdbcType=VARCHAR}
      </if>
      <if test="phone2 != null" >
         AND PHONE2 = #{phone2,jdbcType=VARCHAR}
      </if>
      <if test="groupId != null" >
         AND GROUP_ID = #{groupId,jdbcType=DECIMAL}
      </if>
      <if test="shiftId != null" >
         AND SHIFT_ID = #{shiftId,jdbcType=DECIMAL}
      </if>
      <if test="pwdModifyDate != null" >
         AND PWD_MODIFY_DATE = #{pwdModifyDate,jdbcType=TIMESTAMP}
      </if>
      <if test="createdBy != null" >
         AND CREATED_BY = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdTimestamp != null" >
         AND CREATED_TIMESTAMP = #{createdTimestamp,jdbcType=TIMESTAMP}
      </if>
      <if test="updatedBy != null" >
         AND UPDATED_BY = #{updatedBy,jdbcType=VARCHAR}
      </if>
      <if test="updatedTimestamp != null" >
         AND UPDATED_TIMESTAMP = #{updatedTimestamp,jdbcType=TIMESTAMP}
      </if>
      <if test="version != null" >
         AND VERSION = #{version,jdbcType=DECIMAL}
      </if>
      <if test="shortName != null" >
         AND SHORT_NAME = #{shortName,jdbcType=VARCHAR}
      </if>
      <if test="branchCompanyId != null" >
         AND BRANCH_COMPANY_ID = #{branchCompanyId,jdbcType=VARCHAR}
      </if>
      <if test="workshopId != null" >
         AND WORKSHOP_ID = #{workshopId,jdbcType=VARCHAR}
      </if>
      <if test="deptCode != null" >
         AND DEPT_CODE = #{deptCode,jdbcType=VARCHAR}
      </if>
      <if test="staffSid != null" >
         AND STAFF_SID = #{staffSid,jdbcType=DECIMAL}
      </if>
      <if test="orgSid != null" >
         AND ORG_SID = #{orgSid,jdbcType=DECIMAL}
      </if>
    </trim>
    <if test="order != null" >
       ORDER BY ${order}
    </if>
    <if test="order == null" >
       ORDER BY SID ASC
    </if>
  </select>
</mapper>